* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.container {
  width: 100%;
  margin: 50px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.score {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
}

.score span {
  margin-right: 20px;
}

.grid {
  width: 25rem;
  height: 25rem;
  display: grid;
  grid-template-columns: 4fr 4fr 4fr 4fr;
  grid-template-rows: 4fr 4fr 4fr 4fr;
  background: #BBADA0;
  padding: 5px;
  border-radius: 6px;
  user-select: none;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  border-radius: 6px;
  margin: 5px;
  color: #414141;
}

.grow {
  animation: growAnimation 0.1s ease-in-out;
}

@keyframes growAnimation {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}

#newGameBtn {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 2rem;
}

#newGameBtn:hover {
  background-color: #0056b3;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#upButton {
  display: block;
  margin-left: 50%;
  transform: translateX(-50%);
}

.buttons-direction {
  width: 50px;
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  margin: 4px;
  background: rgb(50, 50, 50);
  color: #ffff;
}

.buttons-direction:hover {
  transform: scale(0.95);
}

.instructions {
  padding: 1rem 2.5rem;
  text-align: start;
}

h1 {
  font-size: 1.8rem;
}

#confirmation {
  border: 1px solid black;
  width: 17rem;
  height: 17rem;
  position: fixed;
  border-radius: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem;
}

.confirmationMessage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hidden {
  display: none;
}

#confirmOk,
#confirmCancel {
  margin-top: 1rem;
  background-color: #007bff;
  color: #000;
  font-weight: bold;
  font-size: 1rem;
  padding: .4rem;
  border-radius: .5rem;
}

#confirmOk:hover,
#confirmCancel:hover {
  transform: scale(0.9);
}

@media screen and (max-width: 450px) {
  .grid {
    width: 18rem;
    height: 18rem;
  }

  .tile {
    font-size: 18px;
  }
}

@media screen and (max-width: 300px) {
  .grid {
    width: 100%;
    height: 12rem;
  }

  .tile {
    font-size: 14px;
  }
}